[submodule "2026/Nova/ERC_SE_CustomMessages"]
	path = 2026/Nova/ERC_SE_CustomMessages
	url = git@github.com:EPFLXplore/ERC_SE_CustomMessages.git
	branch = MVP_June_HDS_and_NAV
[submodule "2026/Nova/Avionics_Common"]
	path = 2026/Nova/Avionics_Common
	url = git@github.com:EPFLXplore/Avionics_Common.git
	branch = ERC2026
